* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

/* h4 {
    letter-spacing: 2px;
} */

div {
    margin: 10px;
    padding: 10px;
    justify-self: center;
    text-align: center;
}

div button {
    width: 145px;
    margin: 30px;
    padding: 10px;
    border-radius: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}

main {
    justify-self: center;
}

#factPara {
    margin: 5px;
    /* letter-spacing: 2px; */
    color: rgb(17, 17, 17);
    font-weight: 800;
    font-size: large;
    text-decoration: underline;
    text-shadow: 3px 3px 5px rgb(197, 176, 176)
}

div button:hover {
    cursor: pointer;
    background-color: rgb(69, 68, 68);
    color: white;
}

footer {
    height: 100px;
    position: fixed;
    bottom: 0;
    justify-self: center;
}

#claim {
    margin: 10px;
    padding: 10px;
    text-decoration: underline;
    text-shadow: 3px 3px 5px white
}